body {
	background-color: #cc0033;
	font-size: 1.25em;
}
aside{
	background-color: white;
	display: inline-block;
	position: fixed;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 1.25em;
}
ul{
	display: none;
}
footer{
	background-color: white;
	display: inline-block;
	vertical-align: bottom;
}
.firstTweet{
	font-size: 1.5em;
}
.hidden{
	display: none;
}
header, section, aside{
	display: none;
}
label { 
	font-size: 1.25em;
}
